@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: space-between;
  height: 100vh;
  background: #020003;
  color: #eee;
  font-family: 'Reggae One', cursive;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 10px;
  color: darkgoldenrod;
  text-align: center;
}

h1 span {display: none;}

img {
  max-width: 100%;  
  height: auto;
}

.logo {
  width: 70%;
  max-width: 20rem;
  margin: 1rem auto -2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.image {
  width: 50vw;
  max-width: 15rem;
  margin-bottom: -2rem;
  /* transform: translateY(100%) scale(.2); */
  transition: transform 2.5s ease-in-out;
}
  .image img {
    border-radius: 50%;
    animation: rotateImg 25s linear 3s infinite;
    animation-play-state: paused;
    border: 2px solid darkgoldenrod;
  }

  .app.play .image img {
    animation-play-state: running;
  }

@keyframes rotateImg {
  to {
    transform: rotate(360deg);
  }
}

  .app .soundtrack-info {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    max-width: 28rem;
    height: 20vh;
    padding: 0 1rem;
    font-size: 1.25rem;
    background: darkred;
    color: darkgoldenrod;
    border-radius: 1rem 1rem 0 0;
    /* transform: translateY(90%); */
    transition: transform 1s ease-in-out .75s;
    /* transition-delay: .5s; */
  }
    .soundtrack-info .title {
      text-transform: capitalize;
      margin: 1.25rem 0;
    }
    .soundtrack-info #time {
      font-size: .8rem;
    }
    
    .progress-container {
      background: darkgoldenrod;
      padding: 2px 4px;
      height: 1rem;
      border-radius: 1rem;
      border: 3px solid #222;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
      .progress-container .progress {
        position: relative;
        z-index: 1111;
        background-color: #222;
        transition: width 0.1s linear;
        width: 0%;
        height: 100%;
        border-radius: 1rem;
      }
  
  .navigation {
    z-index: 30;
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    background: darkgoldenrod; 
    width: 100vw;
    max-width: 30rem;
    height: 15vh;
  }
    /* .navigation button {
    } */
      .navigation .action-btn {
        background: transparent;
        border: none;
        outline: none;
        padding: 0 2rem;
        font-size: 1.5rem;
        cursor: pointer;
      }
      .navigation .large {
        font-size: 2rem;
      }

  .app:not(.showApp) .soundtrack-info {
    transform: translateY(90%);
  }
  .app:not(.showApp) .image {
    transform: translateY(500%) scale(.1);
  }

  .overlay {
    position: absolute;
    z-index: 222;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url('../imgs/bg.jpg'), #020003;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 1.5s ease-in-out;
  }
    .overlay span {
      font-size: 1.5rem;
      letter-spacing: 10px;
      color: darkgoldenrod;
      text-align: center;
      font-weight: bold;
    }

@media only screen and (min-width: 768px) {
  .overlay {
    max-width: 50vw;
    left: 25vw;
  }
}